* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

body {
  font-family: "Montserrat", sans-serif;
}

.hero {
  min-height: 100vh;
  position: relative;
}

.hero img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  object-fit: cover;
  mix-blend-mode: lighten;
  animation: reveal 1s ease forwards,
             swing 3s ease-in-out infinite alternate-reverse;
  opacity: 0;
}

.hero video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: reveal 1s ease 0.5s forwards,
             swing 3s ease-in-out infinite alternate-reverse;
  opacity: 0;
}


@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes swing {
  from {
    transform: rotateZ(0deg)
  }
  to {
    transform: rotate(3deg)
  }
}